<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="utf-8">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>Update Classe</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
		integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css"
		integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/shards.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">

	<link href="../static/css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />

	<div th:block th:include="fragments/headerinc :: header"></div>

</head>

<body>
	<div class="container my-5">
		<h3> Update Classe</h3>
		<div class="card">
			<div class="card-body">
				<div class="col-md-8">

					<form action="#" th:action="@{/classes/update/classe/{id}(id=${classe.id})}" th:object="${classe}"
						method="post">
						<div class="row">
							<div class="form-group col-md-8">
								<label for="id" class="col-form-label">ID</label> <input type="text"
									th:field="*{id}" class="form-control" id="id"
									placeholder="Class ID"> <span th:if="${#fields.hasErrors('id')}"
									th:errors="*{id}" class="text-danger"></span>
							</div>
							<div class="form-group col-md-8">
								<label for="classename" class="col-form-label">Name</label> <input type="text"
									th:field="*{classename}" class="form-control" id="classename"
									placeholder="Class Name"> <span th:if="${#fields.hasErrors('classename')}"
									th:errors="*{classename}" class="text-danger"></span>
							</div>							

							<div class="form-group col-md-8">
								<label class="col-md-6 control-label">Section</label>
								<select id="sect" type="text" th:field="*{sect}" class="form-control">
									<option value="">Section</option>
									<option value="ENGLISH">ENGLISH</option>
									<option value="FRENCH">FRENCH</option>
									<option value="GERMAN">GERMAN</option>

								</select>
							</div>

							<div class="col-md-6">
								<input type="submit" class="btn btn-primary" value="Add Classe">
							</div>

							<div class="" col-md-6>
								<a href="http://localhost:8181/classee/classe/list"><button
										class="bnt bnt-secondary">Cancel</button></a>
							</div>

							<div class="form-group col-md-8"></div>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>

</html>